<a href="https://colab.research.google.com/github/LuisGGon/First-Course-in-Probability-Theory/blob/main/Ch_1_Combinatorial_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **A First Course in Probability**

## Chapter 1. Combinatorial Analysis

### Problems

1. 
    (a). How many different 7-place license plates are possible if the first 2 places are for letters and the other 5 fot numbers?

    (b). Repeat part (a) under the assumption that no letter or number can be repeated in a single license plate

(a). Assume that each plate is a list. For example:
[A, B, 5, 6, 2, 4, 8].
So, using the principle of multiplication the solution is

In [3]:
def product(lst:list)->int:
  prod = 1
  for k in lst:
    prod = prod*k
  return prod

solution_1a = product([26, 26, 10, 10, 10, 10, 10])
solution_1a

67600000

(b). In this case we cannot have plates of the form [A, A, 5, 6, 2, 4, 8] or [A, A, 5, 6, 2, 4, 4]. Hence,

In [ ]:
solution_1b = product([26, 25, 10, 9, 8, 7, 6])
solution_1b

19656000

2. How many outcome sequences are possible when a dice is rolled four times, where we say, for instance, that the outcome is 3, 4, 3, 1 if the first roll landed on 3, the second on 4, the third on 3 and the fourth on 1?

In [ ]:
solution_2 = 6**4
solution_2

1296

3. Twenty workers are to be assigned to 20 different jobs, one to each job. How many different assignments are possible?

The first job can assigned to 20 workers, but the second job to only 19, and so on. So, the solution is
$ 20\times 19 \times \cdots \times 2\times 1 = 20!
$

In [ ]:
from math import factorial

solution_3 = factorial(20)
solution_3

2432902008176640000

4. John, Jim, Jay, and Jack have formed a band consisting of 4 instruments. If each of the boys can play all four instruments, how many different arrangements are possible? What if John and Jim can play all four instruments, but Jay and Jack can each play only piano and drums.

The first intrument can be played by all of them, while the second one can be played by the remaining three, and so on. So,

In [ ]:
solution_4a = factorial(4)
solution_4a

24

In the second case, we focus on the boys. Let us start by the restriction imposed on Jay and Jack, this is, Jay and Jack can only play two intruments. Jay has two option, but John will have only one. After that, Jim can choose from two, but Jim would have only one. Then,

In [ ]:
solution_4b = product([2, 1, 2, 1])
solution_4b

4

5. For years, telephone area codes in the USA and Canada consisted of a sequence of three digits. The first digit was an integer between 2 and 9, the second digit was either 0 or 1, and the third digit was any integer from 1 to 9. How many area codes were possible? How many code areas starting with a 4 were possible?

In [ ]:
solution_5a = product([8, 2, 9])
solution_5a

144

In [ ]:
solution_5b = product([1, 2, 9])
solution_5b

18

6. A well-known nursery rhyme starts as follows:

"As I was going to St. Ives

I met a man with 7 wives.

Each wife had 7 sacks.

Each sack had 7 cats.

Each cat had seven kittens..."

How many kittens did the traveler meet?

In [ ]:
solution_6 = 7**4
solution_6

2401

7. 
    (a) In how many ways can 3 boys and 3 girls sit in a row?

    (b) In how many ways can 3 boys and 3 girls sit in a row if the boys and the girls are each to sit together?

    (c) In how many ways if only the boys must sit together?

    (d) In how many ways if no two people of the same sex are allowed to sit together?

(a). In this first item we do not make no assumption on the locations, so

In [ ]:
solution_7a = factorial(6)
solution_7a

720

(b). We have two possibilities if we drop any distinction among boys and girls, that is $BBBGGG$ and $GGGBBB$. Hence,

In [ ]:
solution_7b = 2*factorial(3)**2
solution_7b

72

(c). This item is very similar to the previous one. Notice that the number of configurations for $BBBGGG$ is equal to the number of configurations for $GBBBGG$. We need to compute how many times can we place the three boys together: 6-3+1=4.

In [ ]:
solution_7c = 4*factorial(3)**2
solution_7c

144

(d). We have only two possibilities: $BGBGBG$ or $GBGBGB$. Then,

In [ ]:
solution_7d = 2*factorial(3)**2
solution_7d

72

8. How many different letter arrangements can be made from the letters
    
    (a) Fluke?

    (b) Propose?
    
    (c) Mississippi?
    
    (d) Arrange?

In [ ]:
solution_8a = factorial(5)
solution_8b = factorial(7)//(factorial(2)*factorial(2))
solution_8c = factorial(11)//(factorial(4)*factorial(4)*factorial(2))
solution_8d = factorial(7)//(factorial(2)*factorial(2))

print('Solution to (a):', solution_8a)
print('Solution to (b):', solution_8b)
print('Solution to (c):', solution_8c)
print('Solution to (d):', solution_8d)

Solution to (a): 120
Solution to (b): 1260
Solution to (c): 34650
Solution to (d): 1260

9. A child has 12 blocks, of which 6 are black, 4 are red, 1 is white, and 1 is blue. If the child puts the blocks in a line, how many arrangements are possible?

In [ ]:
solution_9 = factorial(12)//(factorial(6)*factorial(4))
solution_9

27720

10. In how many ways can 8 people be seated in a row if

    (a) there are no restriction on the seating arrangement?

    (b) persons *A* and *B* must sit next to each other?

    (c) there are 4 men and 4 women and no 2 men or 2 women can sit next to each other?

    (d) there are 5 men and they must sit next to each other?
    
    (e) there are 4 married couples and each couple must sit together?

In [ ]:
from math import factorial
print('Solution to (a):', factorial(8))

Solution to (a): 40320

(b) Assume that *A* and *B* is a single person so, we now have 7 people to allocate. That gives us *7!* and the pair *AB* has two possible arrangements. Then,

In [ ]:
print('Solution to (b):', 2*factorial(7))

Solution to (b): 10080

(c) This question is equivalent to allocate the 8 people with no possible same sex couples. So, we arrange the men in *4!* ways and the women also in *4!* ways. Then, taking into account the sex of the first person in the row:

In [ ]:
print('Solution to (c):', 2*factorial(4)**2)

Solution to (c): 1152

(d) Take the 5 men as a single person, so we have to allocate 4 people that gives 4!, times the 5! possibilities for all 5 men. Then,

In [ ]:
print('Solution to (d):', factorial(4)*factorial(5))

Solution to (d): 2880

(e) The four couples can be seated in 4! ways, and each couple has 2 possible arrangements. The,

In [ ]:
print('Solution to (2):', factorial(4)*2**4)

Solution to (2): 384

11. In how many ways can 3 novels, 2 mathematics books, and 1 chemistry book be arranged on a bookshelf if
    
    (a) the books can be arranged in any order?

    (b) the mathematics books must be together and the novels must be together?

    (c) the novels must be together, but the other books can be arranged in any order?

In [ ]:
print('Solution to (a):', factorial(6))

Solution to (a): 720

(b) Consider the novels as a unit as well as the mathematics books. Then, we have three books, that gives 3!. Now, we need to multiply by the different allocations for math books and novels. Then,

In [ ]:
print('Solution to (b):', factorial(3)*factorial(3)*factorial(2))

Solution to (b): 72

In [ ]:
print('Solution to (c):', factorial(4)*factorial(3))

Solution to (c): 144

12. Five separate awards (best scholarship, best leadership qualities, and so on) are to be presented to selected students from a class of 30. How many different outcomes are possible if

    (a) a student can receive any number of awards?

    (b) each student can receive at most 1 award?

(a) So, the first award can be won by any of the 30 students. The same goes for the second award, and so on. Then,

In [ ]:
print('Solution to (a):', 30**5)

Solution to (a): 24300000

(b) In this case, the second award can be given to one out of 29 students, while the third one only to 28. Then,

In [ ]:
print('Solution to (a):', 30*29*28*27*26)

Solution to (a): 17100720

13. Consider a group of 20 people. If everyone shakes hands with everyone else, how many handshakes takes place?

The first one shakes hands with 19, while the second one with 18. Then,

In [7]:
from math import factorial
def binomial(n,k):
    return factorial(n)//(factorial(k)*factorial(n-k))

In [ ]:
print('Solution:', binomial(20,2))

Solution: 190

14. How many 5-card poker hands are there?

In [ ]:
print('Solution:', binomial(52,5))

Solution: 2598960

15. A dance class consists of 22 students, of which 10 are women and 12 are men. If 5 men and 5 women are to be chosen and then, paired off, how many results are possible?

We can select the five men in $\binom{12}{5}$ ways and the five women in $\binom{10}{5}$. That gives us $\binom{12}{5}\binom{10}{5}$ possible pairings. In addition, for each pairing we have 5! couples. Then,

In [ ]:
print('Solution:', binomial(12,5)*binomial(10,5)*factorial(5))

Solution: 23950080

16. A student has to sell 2 books from a collection of 6 math, 7 science, and 4 economics books. How many choices are possible if

    (a) both books are to be on the same subject?

    (b) the books are to be on different subjects?

(a) We can split the possible solution in three: math books + science books + economics books. Then,

In [ ]:
print('Solution to (a):', binomial(6,2) + binomial(7,2) + binomial(4,2))

Solution to (a): 42

(b) If we fix a math book, then it can paired up with an economics or science book. If we fix a science book, it can paired with economics book only, because the combination with math books has been already counted. Then,

In [ ]:
print('Solution to (b):', 6*7 + 6*4 + 7*4)

Solution to (b): 94

17. Seven different gifts are to be distributed among 10 children. How many distinct results are possible if no child is to receive more than one gift?

In [ ]:
print('Solution:', binomial(10,7)*factorial(7))

Solution: 604800

18. A committee of 7, consisting of 2 Republicans, 2 Democrats, and 3 Independents, is to be chosen from a group of 5 Republicans, 6 Democrats, and 4 Independents. How many committees are possible?

In [ ]:
print('Solution:', binomial(5,5)*binomial(6,2)*binomial(4,3))

19. From a group of 8 women and 6 men, a committee consisting of 3 men and 3 women is to be formed. How many different committees are possible if:

    (a) 2 of the men refuse to serve together?

    (b) 2 of the women refuse to serve together?

    (c) 1 man and 1 woman refuse to serve together?

(a) We have $\binom{8}{3}$ choices for the women. In addtion, we have $\binom{4}{3}$ choices of men without any of the conflictive two, and $2\binom{4}{2}$ that contains exactly one of them. So,

In [ ]:
print('Solution: to (a)', binomial(8,3)*(binomial(4,3) + 2*binomial(4,2)))

Solution: to (a) 896

In [ ]:
print('Solution: to (b)', binomial(6,3)*(binomial(6,3) + 2*binomial(6,2)))

Solution: to (b) 1000

(c)  There are $\binom{7}{3}\binom{5}{3}$ committees without both of the feuding people. There are $\binom{7}{2}\binom{5}{3}$ committes with the woman and without the man. There are $\binom{7}{3}\binom{5}{2}$ committes with the man and without the woman. Hence,

In [ ]:
print('Solution: to (c)', binomial(7,3)*binomial(5,3) + binomial(7,2)*binomial(5,3) + binomial(7,3)*binomial(5,2))

Solution: to (c) 910

20. A person has 8 friends, of whom 5 will be invited to a party.

    (a) How many choices are there if 2 of the friends are feuding and will not attend together?

    (b) How many choices if 2 of the friends will only attend together?

In [ ]:
print('Solution: to (a)', binomial(6,5) + 2*binomial(7,4))
print('Solution: to (b)', binomial(6,5) + binomial(6,3))

Solution: to (a) 76
Solution: to (b) 26

21. Consider the grid of points shown here. Suppose that, starting at the point labeled *A*, you can go one step up or one step to the right at each move. This procedure is continued until the point labeled *B* is reached. How many different paths from *A* to *B* are possible?

Notice that a path is a "chain" of *r* (right) and *u* (up) of length 7, where there are 4 *r*'s and 3 *u*'s. Then,

In [ ]:
print('Solution:', factorial(7)//(factorial(3)*factorial(4)))

Solution: 35

22. In Problem 21, how many different paths are there from *A* to *B* that go through the point circled in the following lattice?

Now we need to compute all possible paths from *A* to the intermediate point, and then multiply by all possible path from the intermediate point to *B*. Then,

In [ ]:
print('Solution:', (factorial(4)//(factorial(2)*factorial(2)))*(factorial(3)//(factorial(2)*factorial(1))))

Solution: 18

23. A psychology laboratory conducting dream research contains 3 rooms, with 2 beds in each room. If 3 sets of identical twins are to be assigned to these 6 beds so that each set of twin sleeps in different beds in the same room, how many assingments are possible?

In [ ]:
print('Solution:', factorial(3)*2**3)

Solution: 48

24. Expand $(3x^2+y)^5$.

$$(3x^2+y)^5 = \sum_{k=0}^5 \binom{5}{k}3^k x^{2k}y^{5-k}.$$

25. The game of bridge is played by 4 players, each of whom is dealt 13 cards. How many bridge deals are possible?

In [1]:
# https://stackoverflow.com/a/46376039
from scipy.special import comb

def multinomial(params):
    if len(params) == 1:
        return 1
    coeff = (comb(sum(params), params[-1], exact=True)*multinomial(params[:-1]))
    return coeff

In [ ]:
print('Solution:', multinomial([13,13,13,13]))

Solution: 53644737765488792839237440000

27. If 12 people are to be divided into 3 committees of respective sizes 3, 4, and 5, how many divisions are possible?

This is a multinomial problem. Then, $\binom{12}{3,4,5}.$

In [2]:
print('Solution:', multinomial([3,4,5]))

Solution: 27720

28. If 8 teachers are to be divided among four schools, how many divisions are possible? What if each school must receive 2 teachers?

If we do not impose restrictions on the number of teachers at each school, we simply use the multiplication principle taking into account that each teacher can be assigned to one of four schools, so $4^8$. In the other case, we have a multinomial problem and the solution is $\displaystyle\binom{8}{2,2,2,2}$.

In [5]:
print('Solution:', 4**8)
print('Solution:', multinomial([2,2,2,2]))

Solution: 65536
Solution: 2520

29. Ten weight lifters are competing in a team weightlifting contest. Of the lifters, 3 are from the United States, 4 are from Russia, 2 are from China, and 1 is from Canada. If the scoring takes account of the countries that the lifters represent, but not their individual identities, how many different outcomes are possible from the point of view of scores? How many different outcomes correspond to results in which the United States has 1 competitor in the top three and 2 in the bottom three?

The first part is easy: it is just a multinomial problem, so $\displaystyle \binom{10}{3,4,2,1}$.

For the second part. Divide the ten slots in three, positions (1,2,3) in the first one, (4,5,6,7) in the second one, and (8,9,10) in the last one. Then, in the first one we need to allocate one US competitor: $\binom{3}{1}$ possibilities, while in the third one we need to allocate 2 US competitors: $\binom{3}{2}$ possibilities. Finally, we have 7 remaining slots, and those are choosen by a multinomial problem: $\binom{7}{4,2,1}$. Then,

In [8]:
print('Solution:', multinomial([3,4,2,1]))
print('Solution:', binomial(3,1)*binomial(3,2)*multinomial([4,2,1]))

Solution: 12600
Solution: 945

30. Delegates from 10 countries, including Russia, France, England, and the United States, are to be seated in a row. How many different seating  arrangements are possible if the French and English delegates are to be seated next to each other and the Russian and U.S. delegates are not to be next to each other?

Notice that we have $2\cdot 9!$ ways where the English and French representatives are seated together. Now, the number of possibilities where the English and French representatives are seated together, and the Russian and Northamerican are also together is $2^2\cdot 8!$. Then,

In [9]:
print('Solution:', 2*factorial(9) - 2**2*factorial(8))

Solution: 564480

31. if 8 identical blackboards are to be divided among 4 schools, how many divisions are possible? How many if each school must receive at least 1 blackboard?

The first part of problem is equivalent to find all vectors of length 4, namely $(x_1,x_2,x_3,x_4)$ with non-negative integer components, such that $x_1+x_2+x_3+x_4=8$. The second part is equivalent to the same problem with positive integer components. Then,

In [10]:
print('Solution:', binomial(8+4-1, 4-1))
print('Solution:', binomial(8-1, 4-1))

Solution: 165
Solution: 35

32. An elevator starts at the basement with 8 people (not including the elevator operator) and discharges them all by the time it reaches the top floor, number 6. In how many ways could the operator have perceived the people leaving the elevator if all people look alike to him? What if the 8 people consisted of 5 men and 3 women and the operator could tell a man from a woman?

The first par of the problem is equivalent to find the number of possible vectors $(x_1,\ldots, x_6)\in\mathbb{Z}^6$, such that $x_1+\cdots+x_6=8$. On the other hand, the second part is analogous to the first one, but now we need to solve the problem for  $(y_1,\ldots, y_6)\in\mathbb{Z}^6$, such that $y_1+\cdots+y_6=5$ and $(z_1,\ldots, z_6)\in\mathbb{Z}^6$, such that $z_1+\cdots+z_6=3$ and then use the multiplication principle. Then,

In [11]:
print('Solution:', binomial(8+6-1, 6-1))
print('Solution:', binomial(5+6-1, 6-1)*binomial(3+6-1,6-1))

Solution: 1287
Solution: 14112

33. We have 20 thousand dollars that must be invested among 4 possible oportunities. Esch investment must be integral in units of 1 thousand dollars, and there are minimal investments that need to be made if one is to invest in these opportunities. The minimal investments are 2, 2, 3, and 4 thousand dollars. How many different investments strategies are available if

    (a) an investment must be made in each opportunity?

    (b) investments must be made in at least 3 of the 4 opportunities?

Solution to (a). We need to find the number of vectors $(x_1,\ldots,x_4)\in\mathbb{Z}^4$ such that $x_1+\cdots+x_4=20$, and $x_1,x_2\geq 2$, $x_3\geq 3$ and $x_4\geq 4$.

Let us make the change of variable $x_1-2=y_1$, $x_2-2=y_2$, $x_3-3=y_3$, and $x_4-2=y_4$. So, we get $y_1+\cdots+y_4=9$, $y_i\geq 0$. Then, we have

In [12]:
print('Solution:', binomial(9+4-1, 4-1))

Solution: 220

Solution to (b). We split our possible solutions in 4:
    

*   We invest in all four;
*   We invest in all except for the first one;
*   We invest in all except for the second one;
*   We invest in all except for the third one;
*   We invest in all except for the fourth one.

Hence,

In [13]:
print('Solution:', binomial(9+4-1, 4-1) + binomial(11+3-1, 3-1) + binomial(11+3-1, 3-1) + binomial(12+3-1, 3-1) + binomial(13+3-1, 3-1))

Solution: 572